<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?if $(var.Platform)=x64?>
		<?define ProductCode="{FB99EAD7-CFD3-4AC0-A6D5-EBFD8993ABE5}" ?>
	<?else?>
		<?define ProductCode="{D2819747-6613-4F39-AF59-3B016ECDBEEC}" ?>
	<?endif?>

	<?define UpgradeCode="{F4F90A69-2010-4C99-B7AF-8A990C4039B4}" ?>
	
	<?define BuildVersion="1.0.0.0" ?>

	<Product Id="$(var.ProductCode)" 
			Name="!(loc.ProductName_$(var.Platform))" 
			Language="!(loc.Language)" 
			Version="$(var.BuildVersion)"
			Manufacturer="!(loc.Company)" 
			UpgradeCode="$(var.UpgradeCode)">
		<Package 
			InstallerVersion="200" 
			Compressed="yes" 
			InstallScope="perMachine" 
			Platform="$(var.Platform)"
			Manufacturer="!(loc.Company)"
			Description="!(loc.Description)"
			Comments="!(loc.Comments)"
			Keywords="!(loc.Keywords)"
			Languages="!(loc.Language)"
			/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="MyHealth.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MyHealth.Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
